@import 'colors';
@media only screen and (min-width: 990px) {
    .nav-container {
        width: 90%  ;

        .menu-buttons {
            display: none  ;
        }
        .navbar-items {
            display: flex;
            align-items: center;
        }
        .nav-links {
            box-shadow: none  ;
            position: initial  ;
            width: fit-content  ;
            height: fit-content  ;
            overflow-y: unset  ;
            visibility: visible  ;
            flex-direction: row  ;
            // display: inherit  ;
            .nav-item, .dropdown > .nav-item {
                padding: 33px 1rem;
            }
            .nav-item:hover {
                color: $mainGreen
            }
            .have-inner-links {
                // position: relative;
                &::after {
                    content: '⌄'  ;
                    font-weight: bold;
                    transform: translateY(-5px);
                }
            }
            .dropdown {
                position: relative;
                .inner-links {
                    box-shadow: 8px -3px 29px -21px grey;
                    .inner-dropdown {
                        position: relative;
                        & > a {
                            &::after {
                                content: ''  ;
                            }
                        }
                        .inner-links {
                            top: 20%;
                            left: -94%;
                            
                            z-index: 1;
                            .nav-item {
                                padding:  0.6rem 5rem 0.6rem 0.6rem  ;
                            }
                        }
                        .have-inner-links:hover + .inner-links,
                        .inner-links:hover {
                            display: block  ;
                            opacity: 1  ;
                            visibility: visible  ;
                            transform: translateY(-10px)  ;
                            max-height: fit-content  ;
                        }
                    }
                }
            }
            // adding hover for both to fix behaviour of have-inner-links on hover
            .dropdown > .have-inner-links:hover + .inner-links,
            .inner-links:hover {
                display: block  ;
                opacity: 1  ;
                visibility: visible  ;
                transform: translateY(-10px)  ;
                max-height: fit-content  ;
            }
            .inner-links {
                position: absolute;
                top: 5.7rem;
                left: 0;
                // height: fit-content  ;
                background-color: white;
                border-radius: 5px  ;
                border-top: 1px solid $mainGreen  ;
                transition: all 0.3s  ;
                // for fixing border-radius behaviour at the
                // bottom of the inner-links
                padding: 0.1rem;
                .nav-item {
                    padding: 0.6rem 10rem 0.6rem 2rem  ;
                    display: flex;
                    background: white;
                    &:last-child {
                        border-bottom: transparent;
                    }
                    &:hover {
                        color: $mainGreen;
                    }
                }
            }
            
            & > * {
                width: fit-content  ;
                border-bottom: none  ;
                &:focus {
                    color: $mainGreen;
                }
            }
            & > :first-child {
                border-top: none  ;
            }
        }
        .additional-buttons {
            position: initial  ;
            box-shadow: none ;
            transform: rotateY(0deg)  ;
            display: flex;
            button {
                padding: 0.8rem 2rem;
                &:first-child {
                    margin-right: 1rem;
                }
            }
            // #get-started {
            //     .overlay {
            //         
            //     }
            //     &:hover {
            //         
            //     }
            // }
            #log-in {
                display: none;
                // .overlay {
                    
                // }
            }
        }
    }
    header {
        .header-text {
            padding: 8rem 1rem  ;
            & > h2 {
                font-size: 2.5rem  ;
            }
        }
    }
}
@media only screen and (min-width: 1200px) {
    .nav-container {
        width: 83%  ;
        .additional-buttons {
            // #get-started {
            //     .overlay {
            //         
            //     }
            //     &:hover {
            //         
            //     }
            // }
            #log-in {
                display: block;
                background-color: transparent  ;
                border: 1px solid $darkBlue;
                color: inherit;
                transition: all 0.5s ease-in-out;
                & > i {
                    color: $mainOrange  ;
                }
                .overlay {
                    background-color: $darkBlue  ;
                }
                &:hover, &:hover i {
                    color: white  ;
                }
            }
        }
    }
}
@media only screen and (max-width: 576px) {
    #contact-us {
        .container {
            margin: 1rem  ;
            h3,h4 {
                text-align: center;
                line-height: inherit;
            }
        }
    }
}
@media only screen and (max-width: 990px) {
    #contact-us {
        .form-btn-container {
            display: flex;
            justify-content: center;
        }
    }
    .nav-links {
        top: 71px !important;
    }
}