* {
    box-sizing: border-box;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
textarea, input {
    font-size: 1rem;
    width: -webkit-fill-available;
}
textarea {
    resize: none;
}
textarea:focus, input:focus,
textarea:active, input:active {
    outline: none;
}
ul {
    padding-inline-start: 0;
    list-style-type: none;
}
body {
    margin: 0;
}

.jc-space-btw {
    justify-content: space-between;
}
.jc-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}
.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}
.m-1 {
    margin: 1rem;
}
.m-2 {
    margin: 2rem;
}
.p-05 {
    padding: 0.5rem;
}
.m-05 {
    margin: 0.5rem;
}
.my-05 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.my-2 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.mb-2 {
    margin-bottom: 2rem !important;
}
.mx-05 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.py1-px3 {
    padding: 1rem 3rem !important;
}
.transition-05 {
    transition: all 0.5s ease-in-out;
}
.bg-white {
    background-color: white;
}
.rounded {
    border-radius: 5px;
}
.b-none {
    border: none;
}
.c-white {
    color: white;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
@media only screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media only screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media only screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
    & > * {
        flex-shrink: 0;
        max-width: 100%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
.col-2 {
    flex: 0 0 auto;
    max-width: 16.66%;
}
.col-6 {
    flex: 0 0 auto;
    width: 49%;
}
.col-12 {
    flex: 1 0 100%;
    width: 99%;
}
@media only screen and (max-width: 990px) {
    .col-6 {
        width: 100%;
    }
}
.add-shadow {
    box-shadow: 1px 15px 20px 10px lightgray;
}
.v-line {
    min-height: 1rem;
    max-height: max-content;
    border-left: 1px solid lightgray;
    width: 1px;
    padding: 0;
}
@media only screen and (max-width: 990px) {
    .v-line {
        display: none;
    }
}

button {
    border: none;
    background-color: transparent;
    &:hover {
        cursor: pointer;
    }
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.7rem;
}
h4 {
    font-size: 1.4rem;
}
.d-flex-center {
    display: flex;
    justify-content: center;
}

.text-uppercase {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}