* {
    box-sizing: border-box;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
body {
    margin: 0;
}

.jc-space-btw {
    justify-content: space-between;
}
.jc-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}
.p-1 {
    padding: 1rem;
}
.transition-05 {
    transition: all 0.5s ease-in-out;
}
.bg-white {
    background-color: white;
}
.rounded {
    border-radius: 5px;
}
.b-none {
    border: none;
}
.c-white {
    color: white;
}