@import 'mixins';
@import 'reusables';
nav {
    margin: 0 auto;
    width: 80%;
    position: relative;
    .menu-buttons {
        button {
            background-color: transparent;
            padding: 0.5rem;
            &:hover {
                color: $mainGreen;
                cursor: pointer;
            }
        }
    }
    .nav-links {
        box-shadow: 1px 15px 20px -15px lightgray;
        left: 0;
        right: 0;
        top: 76px;
        width: 700px;
        height: 0px;
        overflow-y: scroll;
        visibility: hidden;
        & > * {
            text-decoration: none;
            color: gray;
            width: 100%;
            border-bottom: 1px solid lightgray;
            &:focus {
                color: $mainGreen;
            }
        }
        & > :first-child {
            border-top: 1px solid lightgray  ;
        }
    }
    .additional-buttons {
        right: 0;
        top: 60px;
        box-shadow: 1px -1px 13px -7px grey;
        transform: rotateY(90deg);
        button:hover {
            cursor: pointer;
        }
        #get-started {
            background-color: $mainGreen;
            &:hover {
                background-color: $darkBlue;
            }
        }
        #log-in {
            background-color: $darkBlue;
            &:hover {
                background-color: $mainGreen;
            }
        }
    }
}
header {
    background-color: $mainOrange;
    .header-text {
        padding: 80px;
        & > span {
            padding: 10px 0;
        }
        & > h2 {
            margin: 0;
            font-weight: 700;
            font-size: 2rem;
        }
    }
}