@import 'mixins';
@import 'reusables';
@import 'responsivity';
nav {
    width: 100%;
    background: white;
    z-index: 1;
    transition: all 1s ease-in-out;
}
@keyframes navDown {
    from {
        top: -80px;
    }
    to {
        top: 0px;
    }
}
.nav-on-scroll {
    position: fixed;
    box-shadow: 0px 0px 10px 1px lightgrey;
    transition: all 1s ease-in-out;
    animation: navDown ease-in-out 0.5s;
}
.nav-container {
    margin: 0 auto;
    width: 100%;
    position: relative;
    display: flex;
    .menu-buttons {
        .menu-button {
            padding: 0.5rem;
            &:hover {
                color: $mainGreen;
            }
        }
    }
    .dropdown {
        display: flex;
        flex-direction: column;
        & > .inner-links {
            border-top: 1px solid lightgray;
            background-color: white;
        }
        .have-inner-links {
            position: relative;
            // z-index: 1;
            display: flex;
            color: inherit;
            // for button
            border: none;
            background-color: transparent;
            font-size: inherit;
            &::after {
                content: '+';
            }
            &:focus {
                color: $mainGreen
            }
        }
        .inner-dropdown {
            .inner-links {
                .nav-item {
                    padding: 1rem 5.2rem 1rem 5rem;
                }
                &:last-child {
                    border-bottom: 1px solid lightgray;
                }
            }
        }
    }
    .nav-links {
        box-shadow: 1px 15px 20px -15px lightgray;
        position: absolute;
        left: 0;
        right: 0;
        top: 76px;
        width: 80%;
        height: 0px;
        overflow-y: scroll;
        visibility: hidden;
        display: inline-flex;
        flex-direction: column;
        margin: 0 auto;
        .inner-links {
            display: inline-flex;
            flex-direction: column;
            visibility: hidden;
            opacity: 0;
            max-height: 0px;
            transition: all 0.5s ease-in-out 0.1s;
            
            .nav-item {
                padding: 1rem 1rem 1rem 3rem;
                display: flex;
                &:last-child {
                    border-bottom: none;
                }
            }
            .nav-item {
                color: gray;
                width: 100%;
                border-bottom: 1px solid lightgray;
                &:focus {
                    color: $mainGreen;
                }
            }
        }
        .inner-links-active {
            visibility: visible !important;
            opacity: 1 !important;
            max-height: 600px;
        }
        & > * {
            color: gray;
            width: 100%;
            border-bottom: 1px solid lightgray;
            &:focus {
                color: $mainGreen;
            }
        }
        & > :first-child {
            border-top: 1px solid lightgray  ;
        }
    }
    .additional-buttons {
        position: absolute;
        right: 0;
        top: 60px;
        box-shadow: 1px -1px 13px -7px grey;
        transform: rotateY(90deg);
        @include wideBtn;
        #get-started {
            background-color: $mainGreen;
            box-shadow: none;
            transition: box-shadow 0.4s 0.1s ease-in-out;
            .overlay {
                background-color: $darkBlue
            }
            &:hover {
                box-shadow: 0px 0px 20px -6px $mainGreen;
            }
            
        }
        #log-in {
            background-color: $darkBlue;
            .overlay {
                background-color: $mainGreen;
            }
        }
    }
    .additional-buttons-active {
        transform: rotateY(0deg) !important;
    }
}
.nav-active {
    visibility: visible !important;
    height: 300px !important;
}
header {
    background-color: $mainOrange;
    .header-text {
        display: flex;
        flex-direction: column;
        padding: 80px;
        text-align: center;
        & > span {
            padding: 10px 0;
        }
        & > h2 {
            margin: 0;
            font-weight: 700;
            font-size: 2rem;
        }
        
    }
}
#contact-us {
    color: $darkBlue;
    .container {
        margin: 5rem;
        .row {
            @media only screen and (max-width: 990px) {
                div[class="col-6 my-2"] {
                    margin-bottom: 0 !important;
                }
            }
        }
    }
    p,h3,h4, li > span {
        line-height: 1.5rem;
        letter-spacing: 0.5px;
        color: inherit;
    }
    p, span {
        opacity: 0.8;
    }
    input, textarea {
        border: none;
        outline: 0.5px solid $lightDarkBlue;
    }
    input:focus, textarea:focus {
        outline: 0.5px solid $mainGreen;
    }
    li > i::before {
        color: $mainGreen;
    }
    @include wideBtn;
    button {
        background-color: $mainOrange;
        padding: 1rem 2rem;
        span {
            color: white;
            font-weight: bolder;
        }
        .overlay {
            background-color: $mainGreen;
        }
        &:hover {
            box-shadow: 0px 0px 5px 0px $mainGreen;
        }
    }
    .contact-link {
        font-size: 2rem;
        &[href="tel:+"]{
            color: $mainGreen;
            &:hover {
                color: $mainOrange;
            }
        }
        &[href="mailto:"]{
            color: $mainOrange;
            &:hover {
                color: $mainGreen;
            }
        }
    }
    .sosial-links {
        font-size: 1rem;
        border: 1px solid;
        border-radius: 30px;
        color: gray;
        i[class="fa-brands fa-facebook-f p-05"] {
            padding-left: 0.7rem;
        padding-right: 0.7rem;
        }
        &:hover, &:focus {
            color: white;
            background-color: $mainGreen;
            border-color: $mainGreen;
        }
    }
}
#clients {
    background-color: $lightBackground;
    .col-2 {
        box-sizing: content-box;
        background-color: white;
        display: table;
        img {
            max-width: inherit;
        }
    }
    .client-container {
        &:hover {
            transform: translateY(-10px);
            box-shadow: 0px 0px 10px 1px lightgrey;
        }
        &:hover img {
            transform: scale(1.1);
        }
    }
    h2 {
        color: $darkBlue;
    }
}
footer {
    background-color: $darkBlue;
    color: white;
    h4 {
        height: 30px;
    }
    .col-text {
        line-height: 1.7rem;
        a {
            display: inline-block;
            opacity: 0.7;
            &:hover {
                color: $mainGreen;
            }
        }
        address {
            margin-bottom: 1rem;
            font-style: inherit;
            span + a {
                color: inherit;
            }
        }
        .footer-links {
            a {
                color: $darkBlue;
                background-color: white;
                opacity: 0.5;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .move-links-left {
        a:hover {
            transform: translateX(10px);
        }
    }
    hr {
        opacity: 0.1;
    }
    .row {
        p {
            opacity: 0.7;
            .envy-theme {
                color: $mainOrange;
                &:hover {
                    color: $mainGreen
                }
            }
        }
    }
    .divider {
        background-color: $lightBackground;
        clip-path: ellipse(52% 100% at 50% -26%);
        height: 100px;
    }
    @media only screen and (max-width: 767px) {
        .divider {
            display: none;
        }
        footer > .row p {
            text-align: center;
        }
    }
    // for background
    position: relative;
}
@keyframes fadeInOut {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
footer::before {
    content: '';
    background: url(https://templates.envytheme.com/strax/default/assets/img/footer-shape1.png);
    width: 100%;
    height: 100%;
    z-index: 43;
    position: absolute;
    animation: fadeInOut 1s ease-in-out infinite;
    z-index: 0;
}
#move-to-top {
    
    background-color: white;
    box-shadow: 0px 0px 10px -2px grey;
    border-radius: 200px;
    
    i {
        padding: 0.8rem 0.5rem;
        font-size: 1.2rem;
    }
    &:hover {
        background-color: $mainOrange;
        transform: translateY(-20%);
    }
    &:hover i {
        color: white;
    }
    visibility: hidden;
}
.move-to-top-active {
    visibility: visible !important;
    @keyframes toUp {
        from {
            bottom: -1rem;
        }
        to {
            bottom: 1rem;
        }
    }
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    animation: toUp 0.5s ease-in-out;
}