@import 'mixins';
@import 'reusables';
@import 'responsivity';
nav {
    margin: 0 auto;
    width: 100%;
    position: relative;
    display: flex;
    .menu-buttons {
        .menu-button {
            background-color: transparent;
            padding: 0.5rem;
            &:hover {
                color: $mainGreen;
                cursor: pointer;
            }
        }
    }
    .dropdown {
        display: flex;
        flex-direction: column;
        & > .inner-links {
            border-top: 1px solid lightgray;
            background-color: white;
        }
        .have-inner-links {
            position: relative;
            // z-index: 1;
            display: flex;
            color: inherit;
            // for button
            border: none;
            background-color: transparent;
            font-size: inherit;
            &::after {
                content: '+';
            }
            &:focus {
                color: $mainGreen
            }
        }
        .inner-dropdown {
            .inner-links {
                .nav-item {
                    padding: 1rem 5.2rem 1rem 5rem;
                }
                &:last-child {
                    border-bottom: 1px solid lightgray;
                }
            }
        }
    }
    .nav-links {
        box-shadow: 1px 15px 20px -15px lightgray;
        position: absolute;
        left: 0;
        right: 0;
        top: 76px;
        width: 80%;
        height: 0px;
        overflow-y: scroll;
        visibility: hidden;
        display: inline-flex;
        flex-direction: column;
        margin: 0 auto;
        .inner-links {
            display: inline-flex;
            flex-direction: column;
            visibility: hidden;
            opacity: 0;
            max-height: 0px;
            transition: all 0.5s ease-in-out 0.1s;
            
            .nav-item {
                padding: 1rem 1rem 1rem 3rem;
                display: flex;
                &:last-child {
                    border-bottom: none;
                }
            }
            .nav-item {
                color: gray;
                width: 100%;
                border-bottom: 1px solid lightgray;
                &:focus {
                    color: $mainGreen;
                }
            }
        }
        .inner-links-active {
            visibility: visible !important;
            opacity: 1 !important;
            max-height: 600px;
        }
        & > * {
            color: gray;
            width: 100%;
            border-bottom: 1px solid lightgray;
            &:focus {
                color: $mainGreen;
            }
        }
        & > :first-child {
            border-top: 1px solid lightgray  ;
        }
    }
    .additional-buttons {
        position: absolute;
        right: 0;
        top: 60px;
        box-shadow: 1px -1px 13px -7px grey;
        transform: rotateY(90deg);
        button:hover {
            cursor: pointer;
        }
        button {
            overflow: hidden;
            position: relative;
            .overlay {
                position: absolute;
                width: 0;
                height: 0;
                transform: translate(-50%, -50%);
            }
            &:hover .overlay {
                width: 225%;
                height: 225%;
            }
            .btn-text {
                // position is only for make z-index work
                position: relative;
                z-index: 999;
            }
        }
        #get-started {
            background-color: $mainGreen;
            box-shadow: none;
            transition: box-shadow 0.4s 0.1s ease-in-out;
            .overlay {
                background-color: $darkBlue
            }
            &:hover {
                box-shadow: 0px 0px 20px -6px $mainGreen;
            }
            
        }
        #log-in {
            background-color: $darkBlue;
            .overlay {
                background-color: $mainGreen;
            }
        }
    }
    .additional-buttons-active {
        transform: rotateY(0deg) !important;
    }
}
.nav-active {
    visibility: visible !important;
    height: 300px !important;
}
header {
    background-color: $mainOrange;
    .header-text {
        display: flex;
        flex-direction: column;
        padding: 80px;
        & > span {
            padding: 10px 0;
        }
        & > h2 {
            margin: 0;
            font-weight: 700;
            font-size: 2rem;
        }
        
    }
}