* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jc-space-btw {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.f-dir-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-1 {
  padding: 1rem;
}

.transition-05 {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.p-absolute {
  position: absolute;
}

.bg-white {
  background-color: white;
}

.rounded {
  border-radius: 5px;
}

.b-none {
  border: none;
}

.c-white {
  color: white;
}

.nav-active {
  visibility: visible !important;
  height: 300px !important;
}

.additional-buttons-active {
  -webkit-transform: rotateY(0deg) !important;
          transform: rotateY(0deg) !important;
}

.nav-item {
  text-decoration: none;
  color: gray;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.nav-item:focus {
  color: #13c4a1;
}

.inner-links-active {
  visibility: visible !important;
  opacity: 1 !important;
  height: 700px !important;
}

nav {
  margin: 0 auto;
  width: 80%;
  position: relative;
}

nav .menu-buttons button {
  background-color: transparent;
  padding: 0.5rem;
}

nav .menu-buttons button:hover {
  color: #13c4a1;
  cursor: pointer;
}

nav .nav-links {
  -webkit-box-shadow: 1px 15px 20px -15px lightgray;
          box-shadow: 1px 15px 20px -15px lightgray;
  left: 0;
  right: 0;
  top: 76px;
  width: 100%;
  height: 0px;
  overflow-y: scroll;
  visibility: hidden;
}

nav .nav-links .inner-links {
  visibility: hidden;
  opacity: 0;
  height: 0;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
}

nav .nav-links .inner-links .have-inner-links {
  position: relative;
  z-index: 999;
}

nav .nav-links .inner-links .nav-item {
  padding-left: 3rem;
}

nav .nav-links .inner-links .nav-item:last-child {
  border-bottom: none;
}

nav .nav-links > * {
  text-decoration: none;
  color: gray;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

nav .nav-links > *:focus {
  color: #13c4a1;
}

nav .nav-links > :first-child {
  border-top: 1px solid lightgray;
}

nav .additional-buttons {
  right: 0;
  top: 60px;
  -webkit-box-shadow: 1px -1px 13px -7px grey;
          box-shadow: 1px -1px 13px -7px grey;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

nav .additional-buttons button:hover {
  cursor: pointer;
}

nav .additional-buttons button {
  overflow: hidden;
  position: relative;
}

nav .additional-buttons button .overlay {
  position: absolute;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

nav .additional-buttons button:hover .overlay {
  width: 225%;
  height: 225%;
}

nav .additional-buttons button .btn-text {
  position: relative;
  z-index: 999;
}

nav .additional-buttons #get-started {
  background-color: #13c4a1;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 0.4s 0.1s ease-in-out;
  transition: -webkit-box-shadow 0.4s 0.1s ease-in-out;
  transition: box-shadow 0.4s 0.1s ease-in-out;
  transition: box-shadow 0.4s 0.1s ease-in-out, -webkit-box-shadow 0.4s 0.1s ease-in-out;
}

nav .additional-buttons #get-started .overlay {
  background-color: #080a3c;
}

nav .additional-buttons #get-started:hover {
  -webkit-box-shadow: 0px 0px 20px -9px #13c4a1;
          box-shadow: 0px 0px 20px -9px #13c4a1;
}

nav .additional-buttons #log-in {
  background-color: #080a3c;
}

nav .additional-buttons #log-in .overlay {
  background-color: #13c4a1;
}

header {
  background-color: #ff612f;
}

header .header-text {
  padding: 80px;
}

header .header-text > span {
  padding: 10px 0;
}

header .header-text > h2 {
  margin: 0;
  font-weight: 700;
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */