@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

textarea, input {
  font-size: 1rem;
  width: -webkit-fill-available;
}

textarea {
  resize: none;
}

textarea:focus, input:focus,
textarea:active, input:active {
  outline: none;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style-type: none;
}

body {
  margin: 0;
}

.jc-space-btw {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-1 {
  padding: 1rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.p-05 {
  padding: 0.5rem;
}

.m-05 {
  margin: 0.5rem;
}

.my-05 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.transition-05 {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.bg-white {
  background-color: white;
}

.rounded {
  border-radius: 5px;
}

.b-none {
  border: none;
}

.c-white {
  color: white;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0.5rem;
}

.row > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 49%;
}

.col-12 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  width: 99%;
}

@media only screen and (max-width: 990px) {
  .col-6 {
    width: 100%;
  }
}

.add-shadow {
  -webkit-box-shadow: 1px 15px 20px 10px lightgray;
          box-shadow: 1px 15px 20px 10px lightgray;
}

.v-line {
  min-height: 1rem;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  border-left: 1px solid lightgray;
  width: 1px;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 990px) {
  nav {
    width: 90% !important;
  }
  nav .menu-buttons {
    display: none !important;
  }
  nav .navbar-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .nav-links {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    position: initial !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    overflow-y: unset !important;
    visibility: visible !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  nav .nav-links .nav-item, nav .nav-links .dropdown > .nav-item {
    padding: 33px 1rem;
  }
  nav .nav-links .nav-item:hover {
    color: #13c4a1;
  }
  nav .nav-links .have-inner-links::after {
    content: '⌄' !important;
    font-weight: bold;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  nav .nav-links .dropdown {
    position: relative;
  }
  nav .nav-links .dropdown .inner-links {
    -webkit-box-shadow: 8px -3px 29px -21px grey;
            box-shadow: 8px -3px 29px -21px grey;
  }
  nav .nav-links .dropdown .inner-links .inner-dropdown {
    position: relative;
  }
  nav .nav-links .dropdown .inner-links .inner-dropdown > a::after {
    content: '' !important;
  }
  nav .nav-links .dropdown .inner-links .inner-dropdown .inner-links {
    top: 20%;
    left: -94%;
    z-index: 1;
  }
  nav .nav-links .dropdown .inner-links .inner-dropdown .inner-links .nav-item {
    padding: 0.6rem 5rem 0.6rem 0.6rem !important;
  }
  nav .nav-links .dropdown .inner-links .inner-dropdown .have-inner-links:hover + .inner-links,
  nav .nav-links .dropdown .inner-links .inner-dropdown .inner-links:hover {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    -webkit-transform: translateY(-10px) !important;
            transform: translateY(-10px) !important;
    max-height: -webkit-fit-content !important;
    max-height: -moz-fit-content !important;
    max-height: fit-content !important;
  }
  nav .nav-links .dropdown > .have-inner-links:hover + .inner-links,
  nav .nav-links .inner-links:hover {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    -webkit-transform: translateY(-10px) !important;
            transform: translateY(-10px) !important;
    max-height: -webkit-fit-content !important;
    max-height: -moz-fit-content !important;
    max-height: fit-content !important;
  }
  nav .nav-links .inner-links {
    position: absolute;
    top: 5.7rem;
    left: 0;
    background-color: white;
    border-radius: 5px !important;
    border-top: 1px solid #13c4a1 !important;
    -webkit-transition: all 0.3s !important;
    transition: all 0.3s !important;
    padding: 0.1rem;
  }
  nav .nav-links .inner-links .nav-item {
    padding: 0.6rem 10rem 0.6rem 2rem !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: white;
  }
  nav .nav-links .inner-links .nav-item:last-child {
    border-bottom: transparent;
  }
  nav .nav-links .inner-links .nav-item:hover {
    color: #13c4a1;
  }
  nav .nav-links > * {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    border-bottom: none !important;
  }
  nav .nav-links > *:focus {
    color: #13c4a1;
  }
  nav .nav-links > :first-child {
    border-top: none !important;
  }
  nav .additional-buttons {
    position: initial !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    -webkit-transform: rotateY(0deg) !important;
            transform: rotateY(0deg) !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .additional-buttons button {
    padding: 0.8rem 2rem;
  }
  nav .additional-buttons button:first-child {
    margin-right: 1rem;
  }
  nav .additional-buttons #log-in {
    display: none;
  }
  header .header-text {
    padding: 8rem 1rem !important;
  }
  header .header-text > h2 {
    font-size: 2.5rem !important;
  }
}

@media only screen and (min-width: 1200px) {
  nav {
    width: 83% !important;
  }
  nav .additional-buttons #log-in {
    display: block;
    background-color: transparent !important;
    border: 1px solid #080a3c;
    color: inherit;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  nav .additional-buttons #log-in > i {
    color: #ff612f !important;
  }
  nav .additional-buttons #log-in .overlay {
    background-color: #080a3c !important;
  }
  nav .additional-buttons #log-in:hover, nav .additional-buttons #log-in:hover i {
    color: white !important;
  }
}

nav {
  margin: 0 auto;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .menu-buttons .menu-button {
  padding: 0.5rem;
}

nav .menu-buttons .menu-button:hover {
  color: #13c4a1;
}

nav .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .dropdown > .inner-links {
  border-top: 1px solid lightgray;
  background-color: white;
}

nav .dropdown .have-inner-links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: inherit;
  border: none;
  background-color: transparent;
  font-size: inherit;
}

nav .dropdown .have-inner-links::after {
  content: '+';
}

nav .dropdown .have-inner-links:focus {
  color: #13c4a1;
}

nav .dropdown .inner-dropdown .inner-links .nav-item {
  padding: 1rem 5.2rem 1rem 5rem;
}

nav .dropdown .inner-dropdown .inner-links:last-child {
  border-bottom: 1px solid lightgray;
}

nav .nav-links {
  -webkit-box-shadow: 1px 15px 20px -15px lightgray;
          box-shadow: 1px 15px 20px -15px lightgray;
  position: absolute;
  left: 0;
  right: 0;
  top: 76px;
  width: 80%;
  height: 0px;
  overflow-y: scroll;
  visibility: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

nav .nav-links .inner-links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
}

nav .nav-links .inner-links .nav-item {
  padding: 1rem 1rem 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-links .inner-links .nav-item:last-child {
  border-bottom: none;
}

nav .nav-links .inner-links .nav-item {
  color: gray;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

nav .nav-links .inner-links .nav-item:focus {
  color: #13c4a1;
}

nav .nav-links .inner-links-active {
  visibility: visible !important;
  opacity: 1 !important;
  max-height: 600px;
}

nav .nav-links > * {
  color: gray;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

nav .nav-links > *:focus {
  color: #13c4a1;
}

nav .nav-links > :first-child {
  border-top: 1px solid lightgray;
}

nav .additional-buttons {
  position: absolute;
  right: 0;
  top: 60px;
  -webkit-box-shadow: 1px -1px 13px -7px grey;
          box-shadow: 1px -1px 13px -7px grey;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

nav .additional-buttons button {
  overflow: hidden;
  position: relative;
}

nav .additional-buttons button .overlay {
  position: absolute;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

nav .additional-buttons button:hover .overlay {
  width: 225%;
  height: 225%;
}

nav .additional-buttons button .btn-text {
  position: relative;
  z-index: 999;
}

nav .additional-buttons #get-started {
  background-color: #13c4a1;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 0.4s 0.1s ease-in-out;
  transition: -webkit-box-shadow 0.4s 0.1s ease-in-out;
  transition: box-shadow 0.4s 0.1s ease-in-out;
  transition: box-shadow 0.4s 0.1s ease-in-out, -webkit-box-shadow 0.4s 0.1s ease-in-out;
}

nav .additional-buttons #get-started .overlay {
  background-color: #080a3c;
}

nav .additional-buttons #get-started:hover {
  -webkit-box-shadow: 0px 0px 20px -6px #13c4a1;
          box-shadow: 0px 0px 20px -6px #13c4a1;
}

nav .additional-buttons #log-in {
  background-color: #080a3c;
}

nav .additional-buttons #log-in .overlay {
  background-color: #13c4a1;
}

nav .additional-buttons-active {
  -webkit-transform: rotateY(0deg) !important;
          transform: rotateY(0deg) !important;
}

.nav-active {
  visibility: visible !important;
  height: 300px !important;
}

header {
  background-color: #ff612f;
}

header .header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px;
  text-align: center;
}

header .header-text > span {
  padding: 10px 0;
}

header .header-text > h2 {
  margin: 0;
  font-weight: 700;
  font-size: 2rem;
}

#contact-us {
  color: #080a3c;
}

#contact-us p, #contact-us h3, #contact-us h4, #contact-us li > span {
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  color: inherit;
}

#contact-us p, #contact-us span {
  opacity: 0.8;
}

#contact-us input, #contact-us textarea {
  border: none;
  outline: 0.5px solid #080a3c60;
}

#contact-us input:focus, #contact-us textarea:focus {
  outline: 0.5px solid #13c4a1;
}

#contact-us li > i::before {
  color: #13c4a1;
}

#contact-us button {
  background-color: #ff612f;
  padding: 1rem 2rem;
  position: relative;
  overflow: hidden;
}

#contact-us button span {
  color: white;
  font-weight: bolder;
}

#contact-us button i, #contact-us button span {
  position: relative;
  z-index: 999;
}

#contact-us button .overlay {
  background-color: #13c4a1;
  position: absolute;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#contact-us button:hover .overlay {
  width: 300%;
  height: 300%;
}
/*# sourceMappingURL=style.css.map */